textarea {
  margin: 0;
  padding: 0;
  position: fixed;
  margin-left: 500px;
}

header {
  font-size: 1.6em;
}

p {
  margin: 0;
  padding: 0;
}

.person {
  padding: 5px 0;
}

img {
  width: 20%;
}

.person:nth-child(odd) {
  background-color: #FFF9A0;
}

.person:nth-child(even) {
  background-color: #8BF6F2
}

.border {
  border: 4px dotted red;
}